@{
    ViewData["Title"] = "FAQ";
}
<div class="page faq-page">

    <div class="container section">

        <div class="row">

            <div class="col-sm-offset-1 col-sm-10">

                <br />

                <!-- Title -->
                <h1>FAQ</h1>

                <!-- Question & Answer -->
                <h2>What brought you to writing in the first place?</h2>
                <p style="padding-bottom: 10px;">
                    Investigating and writing reports was just part of my working life. So analysing; then writing for
                    clarity, or perhaps just being diplomatic was an essential part of that sort of writing. And of course
                    the need to stick to the facts–there’s no proof without evidence. Fiction on the other hand opens
                    the doors to so many possibilities where facts can be invented, and characters too . . . But it still
                    has to make sense, and at the end of the day, something has been made, I guess it might be called
                    creative spirit.
                </p>

                <!-- Question & Answer -->
                <h2>What inspired Strange doings at Nadgewicke?</h2>
                <p style="padding-bottom: 10px;">
                    A walk in the woods, listening to birds and rustling in the undergrowth and then allowing
                    imagination to take its course.
                </p>

                <!-- Question & Answer -->
                <h2>Will you write another book about Nadgewicke?</h2>
                <p style="padding-bottom: 10px;">
                    Let’s see how it goes. It’s been the genesis of some interesting characters. I might like to meet
                    Wilber again; and of course Gerta and Mary – Oh and needless to say there’s more to Herbert than
                    meets the eye . . .
                </p>

                <!-- Question & Answer -->
                <h2>Are you writing any other books at the moment?</h2>
                <p style="padding-bottom: 10px;">
                    I have several on the go. I’ll be making a decision very shortly on which to take to the next level. One
                    is fairly adult in nature and another is a fantasy novel that would appeal mostly to older children.
                </p>

                <br />
                <br />

            </div>

        </div>

    </div>

</div>