@model HomeModel
@{
    ViewData["Title"] = "Homes";
}
<div class="page home-page">

    <div class="container current-book-section">

        <div class="current-book-section-background"></div>

        <div class="row">

            <div class="col-sm-4">

                <div class="thumbnail">

                    <img src="~/images/stange-doings-at-nadgewicke-cover.png"
                         alt="Strange doings at Nadgewicke" />

                </div>

                <div class="text-center">

                    <a class="btn btn-primary btn-lg col-sm-12" 
                       href="http://www.amazon.co.uk/Strange-doings-Nadgewicke-Edward-Hutchcroft-ebook/dp/B00YHRLM9A/ref=sr_1_fkmr0_3?ie=UTF8&qid=1433106425&sr=8-3-fkmr0">
                        Buy from Amazon
                    </a>

                </div>

            </div>

            <div class="col-sm-6 col-sm-offset-1">

                <h1>Strange doings at Nadgewicke</h1>

                <br />

                <p>A terrible affliction has hit the village of Nadgewicke. It is a time of power and greed, of strange deeds and odd potions; of two young girls who battle to overcome the evil doings of the tyrannical Giles Fitzsimons.</p>

                <p>Facing their own fears and meeting extraordinary people along the way, they find a four legged friend who guides and helps them at their times of greatest need.</p>

                <p>And what of the strange and devious Mrs Ramsbottom, the most horrid teacher in the world? Just what is she doing with so many cockroaches, and come to that, the vicar...</p>

            </div>


        </div>

    </div>

    <div class="container testimonial-section">

        <div class="row">
            <div class="col-sm-12 text-center">
                <br />
                <h2>What people are saying</h2>
                <br />
            </div>
        </div>

        <div class="row">

            @foreach (var testimonial in Model.Testimonials) {

                <div class="col-sm-6">

                    <div class="testimonial-entry">

                        @Html.Raw(testimonial.Content)

                    </div>

                </div>

            }

        </div>

    </div>

    <div class="container author-section">

        <div class="col-sm-offset-6 col-sm-5 text-center">

            <h2>The Author</h2>
            <br />

        </div>

        <div class="col-sm-5 col-sm-offset-1 text-center photo-part">

            <img class="thumbnail" src="images/ian-photo.png" alt="EC Hutchcroft" />

        </div>

        <div class="col-sm-5">

            <p><strong>Edward C Hutchcroft</strong> was born in Sussex, near the sea. Once when still quite small, a wave took him into the bubbling, salty depths. His flailing arms and legs were rescued by his father, who of course was just nearby.</p>

            <p>A lesson in resilience – and interdependence and the sure knowledge of survival – even in the most dangerous of circumstance. He disassembled radios and clocks to see what made them tick. He explored the world of perpetual motion– springs, wheels and leavers – a complex array of machinery that managed three rotations before ceasing to do anything at-all.But he had tried, and learned the value of experiment, and that sooner or later anything is possible – as in his stories – where you can be there – for real!</p>

            <p>Oh, and he still has a totally disproportionate fear of heights...</p>

        </div>

    </div>

</div>
